<div class='mt-16 mx-auto relative flex justify-between px-4 py-3 space-x-2 rounded w-full sm:w-1/2 <%= color_classes %>' role='alert'>
  <div><%= message %></div>
  <div class='pl-5'>
    <a href="#" data-action="click->flash-message#close">
      <i class="fa-solid fa-xmark"></i>
    </a>
  </div>
</div>