<% @title = "404 - Not found" %>
<div class="container my-24 p-4 mx-auto flex justify-center items-center h-[60vh]">
  <div>
    <h1 class="heading-1 text-6xl text-center leading-relaxed">
      <span class="text-main-sky">404</span> <br> 
      The page were not found. 
    </h1>
    <p class="paragraph text-center my-12">
      This page may have been moved or deleted. Please try another page.
    </p>
    <a href="#" onclick="window.history.back();" class="btn-primary block w-1/2 mx-auto">
      Get back
    </a>
  </div>
</div>