<% @title = "422 - Unacceptable" %>
<div class="container my-24 p-4 mx-auto flex justify-center items-center h-[60vh]">
  <div>
    <h1 class="heading-1 text-6xl text-center leading-relaxed">
      <span class="text-main-sky">422</span> <br> 
      This modification can't be made. 
    </h1>
    <p class="paragraph text-center my-12">
      There's an error on the parameters that have been submitted to us.
    </p>
    <a href="#" onclick="window.history.back();" class="btn-primary block w-1/2 mx-auto">
      Get back
    </a>
  </div>
</div>